<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button id="open-modal">
        <ion-icon  slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sugerir Gas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sugerir Gas</ion-title>
    </ion-toolbar>
  </ion-header>

 

  <ion-card>
    <ion-card-header>
      <ion-card-title>Botellas Disponibles</ion-card-title>
      <ion-card-subtitle>Introducir tanques disponibles para utilizar</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Fondo</ion-label>
          <ion-button (click)="onFondoClick()">Añadir</ion-button>
        </ion-list-header>
        <ion-item *ngFor="let botella of botellas_fondo; let i=index" fill="solid">
          <ion-row>
            <ion-col>
              <ion-label position="floating">Capacidad</ion-label>
              <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['capacidad']" type="number"></ion-input>
            </ion-col>
            <ion-col offset="2">
              <ion-label position="floating">Presion de trabajo</ion-label>
              <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['presion_trabajo']" type="number"></ion-input>
            </ion-col>
          </ion-row>
          <ion-icon (click)="botellas_fondo.splice(i, 1);" name="close-circle" size="small" slot="end"></ion-icon>
        </ion-item>
        <ion-list-header>
          <ion-label>Etapas</ion-label>
          <ion-button (click)="onEtapasClick()">Añadir</ion-button>
        </ion-list-header>
        <ion-item *ngFor="let botella of botellas_etapas; let i=index" fill="solid">
          <ion-row>
            <ion-col>
              <ion-label position="floating">Capacidad</ion-label>
              <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['capacidad']" type="number"></ion-input>
            </ion-col>
            <ion-col offset="2">
              <ion-label position="floating">Presion de trabajo</ion-label>
              <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['presion_trabajo']" type="number"></ion-input>
            </ion-col>
          </ion-row>
          <ion-icon (click)="botellas_etapas.splice(i, 1);" name="close-circle" size="small" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>





  <ion-text color="dark">
    <h2>Volumen de gas disponible en total</h2>
  </ion-text>      
  <ion-text *ngIf="gas_disponible" [color]="gas_disponible > gas_requerido ? 'success' : 'danger'">
    <h1>{{gas_disponible}} L</h1>
  </ion-text>
</ion-content>
