<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">

      <ion-button id="back" *ngIf="!resultadoPintado">
        <ion-icon  slot="icon-only" name="help"  ></ion-icon>
      </ion-button>

      <ion-button id="open-modal"  *ngIf="resultadoPintado" (click)="resultadoPintado=false">
        <ion-icon  slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>Calcular Presion de Retorno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calcular Presion de Retorno</ion-title>
    </ion-toolbar>
  </ion-header>

 

  <div *ngIf="!resultadoPintado">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos Necesarios</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="none">
          <ion-item fill="solid">
            <ion-label position="floating">Profundidad Media [m]</ion-label>
            <ion-input [(ngModel)]="profundidad"  name="profundidad" required type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Usar DPV?</ion-label>
            <ion-toggle [enableOnOffLabels]="true" [(ngModel)]="usar_dpv"  slot="end"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-title>Botellas Disponibles</ion-card-title>
        <ion-card-subtitle>Introducir tanques disponibles para utilizar</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        <p>Conociendo el gas que tienen tus botellas, podemos calcular la penetracion maxima o maximo tiempo de trabajo en la inmersion, 
          y darte una presion de retorno segun los algoritmos de planificacion de gases conocidos</p>

        <ion-list>
          <ion-list-header>
            <ion-label>Fondo</ion-label>
            <ion-button (click)="onFondoClick()">Añadir</ion-button>
          </ion-list-header>
          <ion-item *ngFor="let botella of botellas_fondo; let i=index" fill="solid">
            <ion-row>
              <ion-col>
                <ion-label position="floating">Capacidad</ion-label>
                <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['capacidad']" type="number"></ion-input>
              </ion-col>
              <ion-col>
                <ion-label position="floating">Presion</ion-label>
                <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['presion']" type="number"></ion-input>
              </ion-col>
            </ion-row>
            <ion-icon (click)="botellas_fondo.splice(i, 1);" name="close-circle" size="small" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <ion-label>Etapas</ion-label>
            <ion-button (click)="onEtapasClick()">Añadir</ion-button>
          </ion-list-header>
          <ion-item *ngFor="let botella of botellas_etapas; let i=index" fill="solid">
            <ion-row>
              <ion-col>
                <ion-label position="floating">Capacidad</ion-label>
                <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['capacidad']" type="number"></ion-input>
              </ion-col>
              <ion-col>
                <ion-label position="floating">Presion</ion-label>
                <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['presion']" type="number"></ion-input>
              </ion-col>
            </ion-row>
            <ion-icon (click)="botellas_etapas.splice(i, 1);" name="close-circle" size="small" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-button (click)="calcular()" expand="block"  style="margin: 10px; margin-top: 20px;">
      Calcular Inmersion 
    </ion-button>

  </div>

  <ion-card *ngIf="resultadoPintado">
    <ion-card-header>
      <ion-card-title>Resultado</ion-card-title>
      <ion-card-subtitle>Datos calculados utiles para planificar la inmersion </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- <ion-text color="danger">En ningun calculo se tiene en cuenta el gas requerido para la descompresion </ion-text> -->

      <ion-list>
        <ion-item>
          <ion-icon name="balloon-outline" size="large" slot="start"></ion-icon>
          <ion-label>
            <h1>{{gas_disponible}} L</h1>
            <p>Volumen total de gas en tus botellas</p>
          </ion-label>

        </ion-item>

        <ng-container *ngIf="profundidad; else elseTemplate">
          <ion-item>
            <ion-icon name="timer-outline" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              <h1>{{tiempo_trabajo | number:'1.0-0'}} min</h1>
              <p>Tiempo disponible para entrar/trabajar antes de volver</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="code-working-outline" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              <h1>{{penetracion_maxima | number:'1.0-0'}} m</h1>
              <p>Distancia máxima hasta donde llegar antes de dar la vuelta</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="speedometer-outline" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              <h1>{{presion_retorno | number:'1.0-0'}} bar</h1>
              <p>Presion de Retorno</p>
            </ion-label>
          </ion-item>
        </ng-container>

        <ng-template #elseTemplate>
          <ion-item>
            <ion-icon name="timer-outline" size="large" slot="start"></ion-icon>
            <ion-label>
              <ion-text color="warning">No tenemos dato de profundidad</ion-text>
              <p>Tiempo de trabajo</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="code-working-outline" size="large" slot="start"></ion-icon>
            <ion-label>
              <ion-text color="warning">No tenemos dato de profundidad</ion-text>
              <p>Distancia Máxima</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="speedometer-outline" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-text color="warning">No tenemos dato de profundidad</ion-text>
              <p>Presion de Retorno</p>
            </ion-label>
          </ion-item>
        </ng-template>
        


      </ion-list>

    </ion-card-content>
  </ion-card>



</ion-content>
