<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">


      
      <ion-button id="help" *ngIf="!resultadoPintado"  (click)="toggleModal(true)" >
        <ion-icon   slot="icon-only" name="help"  ></ion-icon>
      </ion-button>

      <ion-button id="back" *ngIf="resultadoPintado" (click)="resultadoPintado=false">
        <ion-icon  slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>Calcular Penetración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calcular Penetración</ion-title>
    </ion-toolbar>
  </ion-header>

 

  <div *ngIf="!resultadoPintado">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos Necesarios</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item fill="solid">
            <ion-label position="floating">Profundidad Media [m]</ion-label>
            <ion-input [(ngModel)]="profundidad"  name="profundidad" required type="number"></ion-input>
            <!-- <ion-note slot="error" *ngIf="requerido">Campo obligatorio</ion-note> -->
          </ion-item>
          <!-- <ion-item lines="none">
            <ion-label>Dejar etapas en el hilo?</ion-label>
            <ion-toggle [enableOnOffLabels]="true" [(ngModel)]="abandonar_etapas"  slot="end"></ion-toggle>
          </ion-item> -->
          <!-- <ion-item lines="none">
            <ion-label>Gastar por completo las etapas?</ion-label>
            <ion-toggle [enableOnOffLabels]="true" [(ngModel)]="usar_dpv"  slot="end"></ion-toggle>
          </ion-item> -->
          <!-- <ion-item lines="none">
            <ion-label>Usar DPV?</ion-label>
            <ion-toggle [enableOnOffLabels]="true" [(ngModel)]="usar_dpv"  slot="end" disabled></ion-toggle>
          </ion-item> -->
          <!-- <ion-item>
            <ion-label>Solo diving?</ion-label>
            <ion-toggle [enableOnOffLabels]="true" [(ngModel)]="solo_diving"  slot="end"></ion-toggle>
          </ion-item> -->
        </ion-list>
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-title>Botellas Disponibles</ion-card-title>
        <ion-card-subtitle>Introducir tanques disponibles para utilizar</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        <!-- <p>Conociendo el gas que tienen tus botellas, podemos calcular la penetracion maxima o maximo tiempo de trabajo en la inmersion, 
          y darte una presion de retorno segun los algoritmos de planificacion de gases conocidos</p> -->




        <div>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <h2 size="auto">Fondo</h2>
              </ion-col>
              <ion-col size="auto">
                <ion-button (click)="onFondoClick()" fill="clear" style="margin-right: -22px;">
                  <ion-icon name="add-circle-outline" slot="end" class="icono-add" ></ion-icon>
                </ion-button>
              </ion-col>
              
            </ion-row>
            <ion-row *ngFor="let botella of botellas_fondo; let i=index" fill="solid" class="ion-align-items-center">
              <ion-icon (click)="botellas_fondo.splice(i, 1);" name="close-circle" size="small"></ion-icon>

              <ion-col>
                <ion-item>
                  <ion-label  position="floating">Capacidad</ion-label>
                  <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['capacidad']" type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label  position="floating">Presion</ion-label>
                  <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['presion']" type="number"></ion-input>
                </ion-item>
              </ion-col>

              <ion-badge color="primary">{{i + 1}}</ion-badge>

            </ion-row>
          </ion-grid>
        </div>


        <div>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <h2 size="auto">Etapas</h2>
              </ion-col>
              <ion-col size="auto">
                <ion-button (click)="onEtapasClick()" fill="clear" style="margin-right: -22px;">
                  <ion-icon name="add-circle-outline" slot="end" class="icono-add" ></ion-icon>
                </ion-button>
              </ion-col>
              
            </ion-row>
            <ion-row *ngFor="let botella of botellas_etapas; let i=index" fill="solid" class="ion-align-items-center">
              <ion-icon (click)="botellas_etapas.splice(i, 1);" name="close-circle" size="small"></ion-icon>

              <ion-col>
                <ion-item>
                  <ion-label  position="floating">Capacidad</ion-label>
                  <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['capacidad']" type="number"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label  position="floating">Presion</ion-label>
                  <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="botella['presion']" type="number"></ion-input>
                </ion-item>
              </ion-col>
              <!-- <ion-col size="2">
                <ion-note sytle="overflow-wrap: break-word;">Clipar en el hilo?</ion-note>
              </ion-col>
              <ion-checkbox style="margin: 10px;"></ion-checkbox> -->

              <ion-badge color="secondary">{{i + 1}}</ion-badge>

            </ion-row>
          </ion-grid>
        </div>
        
        

      </ion-card-content>
    </ion-card>



    <div style="margin: 10px; margin-top: 20px;">
      <ion-item >
        <ion-select [(ngModel)]="algoritmo" interface="action-sheet" placeholder="Elegir Algoritmo" name="algoritmo" required >
          <ion-select-option value="tercios">Tercios Basico</ion-select-option>
          <ion-select-option value="cuartos">Cuartos Basico</ion-select-option>
          <ion-select-option value="gue">GUE</ion-select-option>
        </ion-select>
        <ion-button (click)="calcular()" expand="block"   [disabled]="!profundidad || !algoritmo" slot="end">
          Calcular Inmersion 
          <ion-icon slot="start" icon="calculator"></ion-icon>
        </ion-button>
      </ion-item>
    </div>

  </div>




   <!-- RESULTADO -->


  <ion-card *ngIf="resultadoPintado">
    <ion-card-header>
      <ion-card-title>Resultado</ion-card-title>
      <ion-card-subtitle>Datos calculados utiles para planificar la inmersion </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- <ion-text color="danger">En ningun calculo se tiene en cuenta el gas requerido para la descompresion </ion-text> -->

      <ion-list>
        <ion-item>
          <ion-icon name="balloon-outline" size="large" slot="start"></ion-icon>
          <ion-label>
            <h1>{{gas_disponible}} L</h1>
            <p>Volumen total de gas en tus botellas</p>
          </ion-label>

        </ion-item>

        <ion-item>
          <ion-icon name="time-outline" size="large" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            <h1>{{tiempo_ida | number:'1.0-0'}} min</h1>
            <p>Tiempo disponible para el viaje de ida</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="code-working-outline" size="large" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            <h1>{{penetracion_maxima | number:'1.0-0'}} m</h1>
            <p>Distancia máxima hasta donde llegar antes de dar la vuelta</p>
          </ion-label>
        </ion-item>
        
      </ion-list>

    </ion-card-content>
  </ion-card>



  <ion-card *ngIf="resultadoPintado">
    <ion-card-header>
      <ion-card-title>
        Presiones de Retorno
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Fondo</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let botella of botellas_fondo; let i=index" >
          <ion-badge>{{i + 1}}</ion-badge>

          <ion-grid [fixed]="true">
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-label>{{botella['capacidad']}} L | {{botella['presion']}} bar</ion-label>
              </ion-col>
              
              <ion-col  size="auto">
                <ion-label class="presion-retorno">{{botella['retorno']}}</ion-label>
              </ion-col>
              bar
            </ion-row>
            
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="botellas_etapas.length">
        <ion-list-header>
          <ion-label>Etapas</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let botella of botellas_etapas; let i=index" >
          <ion-badge color="secondary">{{i + 1}}</ion-badge>
          <ion-grid [fixed]="true">
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-label>{{botella['capacidad']}} L | {{botella['presion']}} bar</ion-label>
              </ion-col>
              
              <ion-col  size="auto">
                <ion-label class="presion-retorno">{{botella['retorno']}}</ion-label>
              </ion-col>
              bar
            </ion-row>
           
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>










  <!-- MODAL -->


  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="toggleModal(false)">Cerrar</ion-button>
          </ion-buttons>
          <ion-title>Ayuda</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Con los datos que escribas sobre la inmersion que quieres hacer, la app te sugerira configuraciones tipicas de buceo en abierto aptas para la inmersion. 
          Ademas debes elegir el algoritmo para planificacion de gases que mas te apetezca, con este algoritmo, te sugeriremos que botellas necesitas para cumplirlo.
        </p>


        <ion-note>
          El color de los graficos, es verde para la ida, azul para la vuelta, y rojo de contigencia (debes salir con todo ese gas intacto en el mejor escenario posible)
        </ion-note>


        <h2>Tercios</h2>
  
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
          </ion-row>
        </ion-grid>


        <h2>GUE</h2>

        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
          </ion-row>
        </ion-grid>



        <h2>Cuartos</h2>
   
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
          </ion-row>
        </ion-grid>


        <h2>Sextos</h2>
   
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
          </ion-row>
        </ion-grid>




      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
