.gas-verde {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}

.gas-azul {
    background-color: #3255f0;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}

.gas-rojo {
    background-color: #e61f40;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
}