<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">

      <ion-button id="open-modal" >
        <ion-icon  slot="icon-only" name="help"  ></ion-icon>
      </ion-button>

      <ion-button  *ngIf="resultadoPintado" (click)="resultadoPintado=false">
        <ion-icon  slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>Calcular Gas Necesario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calcular Gas Necesario</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="ionicForm" (ngSubmit)="calcular()" novalidate *ngIf="!resultadoPintado">
    

    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos Necesarios</ion-card-title>
        <ion-card-subtitle>
          Se necesitan datos de la inmersion a calcular
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Profundidad media a la que calculas que estaras en la cueva</p>
        <ion-item fill="solid">
          <ion-label position="floating">Profundidad [m]</ion-label>
          <ion-input [(ngModel)]="profundidad" formControlName="profundidad" name="profundidad" required type="number"></ion-input>
          <ion-note slot="error" *ngIf="isSubmitted && errorControl.profundidad.errors?.required">Campo obligatorio</ion-note>
        </ion-item>

        <!-- <p style="margin-top: 2em;">Escribe cuanto quieres penetrar en distancia</p>
        <ion-item fill="solid" >
          <ion-label position="floating">Distancia de ida [m]</ion-label>
          <ion-input  name="distancia" formControlName="distancia" (keyup)="updateTiempo()" [(ngModel)]="distancia" type="number"></ion-input>
          <ion-note slot="error" *ngIf="isSubmitted && errorControl.distancia.errors?.required">Campo obligatorio</ion-note>
        </ion-item> -->



        <p style="margin-top: 2em;">Elige cuanto tiempo de ida o de trabajo vas a gastar</p>
        <ion-item  fill="solid">
          <ion-label position="floating">Tiempo de ida [min]</ion-label>
          <!-- <ion-input  name="tiempo" formControlName="tiempo" (keyup)="updateDistancia()" [(ngModel)]="tiempo" required type="number"></ion-input> -->
          <ion-input  name="tiempo" formControlName="tiempo"  [(ngModel)]="tiempo" required type="number"></ion-input>
          <ion-note slot="error" *ngIf="isSubmitted && errorControl.tiempo.errors?.required">Campo obligatorio</ion-note>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <div style="margin: 10px; margin-top: 20px;">
      <ion-item >
        <ion-icon slot="end" icon="calculator"></ion-icon>
        <ion-select [(ngModel)]="algoritmo" interface="action-sheet" placeholder="Elegir Algoritmo" name="algoritmo" formControlName="algoritmo" required >
          <ion-select-option value="tercios">Tercios Basico</ion-select-option>
          <ion-select-option value="cuartos">Cuartos Basico</ion-select-option>
          <ion-select-option value="gue">GUE</ion-select-option>
        </ion-select>
        <ion-note slot="error" *ngIf="isSubmitted && errorControl.algoritmo.errors?.required">Campo obligatorio</ion-note>
      </ion-item>
      <ion-button type="submit" expand="block"  style="margin-top: 20px;">
        Calcular Gas
      </ion-button>
    </div>

  </form>

  <ion-card *ngIf="resultadoPintado">
    <ion-card-header>
      <ion-card-title>Resultado</ion-card-title>
      <ion-card-subtitle>Datos calculados utiles para planificar la inmersion <ion-text color="danger">En ningun calculo se tiene en cuenta el gas requerido para la descompresion </ion-text></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <ion-text color="dark">
          <h2>Volumen de gas requerido</h2>
        </ion-text>
        
        <ion-text color="primary" >
          <h1>{{gas_requerido | number:'1.0-0'}} L</h1>
        </ion-text>
    </ion-card-content>
  </ion-card>




  <ion-card *ngIf="resultadoPintado">
    <ion-card-header>
      <ion-card-title>Sugerencia de equipo</ion-card-title>
      <ion-card-subtitle>Combinaciones de botellas posibles para la inmersion</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div >
        <ion-list *ngFor="let sug of sugerencias">
          <ion-list-header>
            <ion-label color="primary">{{sug['volumen_total']}} L</ion-label>
            <ion-button>Usar</ion-button>
          </ion-list-header>
          <ion-item *ngFor="let botella of sug['botellas'];let i=index">
            <ion-label>
              <h2>{{botella.descripcion}}</h2>
            </ion-label>
            <ion-badge  slot="end">{{botella.capacidad}} L</ion-badge>
            <ion-badge  slot="end">{{botella.presion}} bar</ion-badge>
          </ion-item>

        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>




  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancelModal()">Cerrar</ion-button>
          </ion-buttons>
          <ion-title>Ayuda</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Con los datos que escribas sobre la inmersion que quieres hacer, la app te sugerira configuraciones tipicas de buceo en abierto aptas para la inmersion. 
          Ademas debes elegir el algoritmo para planificacion de gases que mas te apetezca, con este algoritmo, te sugeriremos que botellas necesitas para cumplirlo.
        </p>


        <ion-note>
          El color de los graficos, es verde para la ida, azul para la vuelta, y rojo de contigencia (debes salir con todo ese gas intacto en el mejor escenario posible)
        </ion-note>


        <h2>Tercios</h2>
  
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
          </ion-row>
        </ion-grid>


        <h2>GUE</h2>

        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
          </ion-row>
        </ion-grid>



        <h2>Cuartos</h2>
   
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
          </ion-row>
        </ion-grid>


        <h2>Sextos</h2>
   
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col class="gas-verde"></ion-col>
            <ion-col class="gas-azul"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
            <ion-col class="gas-rojo"></ion-col>
          </ion-row>
        </ion-grid>




      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
