<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button id="open-modal">
        <ion-icon  slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Calcular Gas Necesario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calcular Gas Necesario</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="ionicForm" (ngSubmit)="calcular()" novalidate>
    

    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos Necesarios</ion-card-title>
        <ion-card-subtitle>
          Se necesitan datos de la inmersion a calcular
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item fill="solid">
          <ion-label position="floating">Profundidad [m]</ion-label>
          <ion-input [(ngModel)]="profundidad" formControlName="profundidad" name="profundidad" required type="number"></ion-input>
          <ion-note slot="error" *ngIf="isSubmitted && errorControl.profundidad.errors?.required">Campo obligatorio</ion-note>
        </ion-item>



        <ion-segment [ngModelOptions]="{standalone: true}" [(ngModel)]="input_tiempo" style="margin-top: 3em;">
          <ion-segment-button value="tiempo">
            <ion-label>Tiempo</ion-label>
          </ion-segment-button>
          <ion-segment-button value="distancia">
            <ion-label>Penetracion</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="input_tiempo">
          <ion-item-group *ngSwitchCase="'distancia'">
            <ion-item fill="solid">
              <ion-label position="floating">Distancia de ida [m]</ion-label>
              <ion-input  name="distancia" formControlName="distancia" (change)="updateTiempo()" [(ngModel)]="distancia" type="number"></ion-input>
              <ion-note slot="error" *ngIf="isSubmitted && errorControl.distancia.errors?.required">Campo obligatorio</ion-note>
            </ion-item>
          </ion-item-group>


          <ion-item *ngSwitchCase="'tiempo'" fill="solid">
            <ion-label position="floating">Tiempo de ida [min]</ion-label>
            <ion-input  name="tiempo" formControlName="tiempo" [(ngModel)]="tiempo" required type="number"></ion-input>
            <ion-note slot="error" *ngIf="isSubmitted && errorControl.tiempo.errors?.required">Campo obligatorio</ion-note>

          </ion-item>
        </div>



      </ion-card-content>
    </ion-card>


    <ion-item>
      <ion-icon slot="start" icon="calculator"></ion-icon>

      <ion-select interface="action-sheet" placeholder="Elegir Algoritmo">
        <ion-select-option value="tercios">Tercios Basico</ion-select-option>
        <ion-select-option value="gue">GUE</ion-select-option>
        <ion-select-option value="cdg">CDG</ion-select-option>
        <ion-select-option value="cuartos">Cuartos Basico</ion-select-option>
      </ion-select>
      <ion-button type="submit" expand="block" fill="clear" shape="round">
        Calcular Gas
      </ion-button>
    </ion-item>



  </form>

  <ion-card *ngIf="gas_requerido">
    <ion-card-header>
      <ion-card-title>Resultado</ion-card-title>
      <ion-card-subtitle>Datos calculados utiles para planificar la inmersion <ion-text color="danger">En ningun calculo se tiene en cuenta el gas requerido para la descompresion </ion-text></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <ion-text color="dark">
          <h2>Volumen de gas requerido</h2>
        </ion-text>
        
        <ion-text color="primary" >
          <h1>{{gas_requerido}} L</h1>
        </ion-text>
    </ion-card-content>
  </ion-card>




  <ion-card *ngIf="gas_requerido">
    <ion-card-header>
      <ion-card-title>Sugerencia de equipo</ion-card-title>
      <ion-card-subtitle>Combinaciones de botellas posibles para la inmersion</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div >
        <ion-list *ngFor="let sug of sugerencias">
          <ion-list-header>
            <ion-label color="primary">{{sug['volumen_total']}} L</ion-label>
            <ion-button>Usar ></ion-button>
          </ion-list-header>
          <ion-item *ngFor="let botella of sug['botellas'];let i=index">
            <ion-label>
              <h2>{{botella.descripcion}}</h2>
            </ion-label>
            <ion-badge  slot="end">{{botella.capacidad}} L</ion-badge>
            <ion-badge  slot="end">{{botella.presion}} bar</ion-badge>
          </ion-item>

        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>




  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancelModal()">Cerrar</ion-button>
          </ion-buttons>
          <ion-title>Ayuda</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <h2>Sobre la regla de los tercios</h2>
        <p>
          Con los datos que escribas sobre la inmersion que quieres hacer, hasta donde quieres penetrar o cuanto quieres estar en el viaje de ida, y la profundidad media de la inmersion,
          la app te sugerira configuraciones tipicas de buceo en abierto aptas para la inmersion.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
